 body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 40px;
            text-align: center;
        }

        h1 {
            color: #989898;
            font-size: 32px;
            margin-bottom: 30px;
        }

        .card {
            background: white;
            max-width: 500px;
            margin: auto;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 2px 22px rgba(0, 0, 0, 0.15);
        }

        a.btn {
            display: block;
            width: 100%;
            padding: 15px 0;
            margin: 12px 0;
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
            text-decoration: none;
            border: none;
            background-color: #efefef;
            color: #333;
            transition: 0.2s;
        }

        a.btn:hover {
            background-color: #e0e0e0;
        }

        a.btn-main {
            background-color: #d90000;
            color: white;
            font-weight: bold;
        }

        a.btn-main:hover {
            background-color: #d90000;
        }

    