body{
    background:#efefef;
    font-family:Arial, Helvetica, sans-serif;
    color:#3b1e0c;
}

.container{
    max-width:1000px;
    margin:40px auto;
    padding:20px;
}

.card{
    background:#d9c5b3;
    padding:30px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.15);
}

h1{
    color:#7a3a08;
    margin-bottom:15px;
}

.descripcion{
    border-bottom:2px solid #b97a4c;
    padding-bottom:15px;
    margin-bottom:25px;
}

.formulario{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    margin-bottom:20px;
}

input{
    padding:12px;
    border:none;
    border-radius:8px;
    width:120px;
    font-size:16px;
}

button{
    background:#7a3a08;
    color:white;
    border:none;
    border-radius:8px;
    padding:12px 20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
    background:#94480a;
}

#mensaje{
    background:white;
    border-left:5px solid #7a3a08;
    padding:15px;
    border-radius:8px;
    margin:20px 0;
}

#intentos{
    display:inline-block;
    background:#7a3a08;
    color:white;
    padding:10px 20px;
    border-radius:50px;
    margin-bottom:20px;
}

.tablero-container{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

#tablero{
    width:600px;
    max-width:100%;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(20,1fr);

    gap:2px;
}

.celda{
    aspect-ratio:1;
    background:#7a3a08;
    border-radius:2px;
}

.fallo{
    background:#c96f2d;
}

.tesoro{
    background:gold;
}

.boton {
            display: block;
            padding: 12px;
            background: #74380d;
            color: white;
            text-decoration: none;
            border-radius: 10px;
            font-weight: bold;
            transition: 0.2s;
        }

        .volver {
            background: #9f4413;
        }